<h1>Login</h1>

<%= form_with model: @user, url: sign_in_path do |form|  %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "user@gin.com" %>
    </div>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <%= link_to "Forgot Password?", forgot_password_path %>

    <div class="mb-3">
        <%= form.submit "Sign In", class: "btn btn-outline-success" %>
    </div>
<% end %>