<h1>Reset Your passowrd</h1>

<%= form_with model: @user, url: forgot_password_edit_path(token: params[:token]) do |form|  %>

    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div>
                    <%= message %>
                </div>
            <% end %>
        </div>
    <% end %>
    
     <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Reset Password", class: "btn btn-outline-success" %>
    </div>
<% end %>