<h1>Forgot Your passowrd</h1>

<%= form_with url: forgot_password_path do |form|  %>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "user@gin.com" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Submit", class: "btn btn-outline-success" %>
    </div>
<% end %>