<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "My Simple App", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if Current.user %>
                <li class="nav-item">
                    <%= link_to Current.user.email, edit_password_path, class: 'nav-link' %></span>
                </li>
                <li class="nav-item">
                    <%= button_to "Log out", logout_path, method: :delete, class: 'nav-link btn btn-info mt-2' %>
                </li>

            <% else %>
                <li class="nav-item">
                    <%= link_to "Login", sign_in_path, class: 'nav-link' %>

                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", sign_up_path, class: 'nav-link' %>
                </li>

            <% end %>
        </ul>
    </div>
  </div>
</nav>