Hi <%= params[:user].email %>,

Someone requested a password reset.

If this was you, click the link to reset your pssword. Link expires in 15 minutes.

<%= forgot_password_edit_url(token: @token) %>
