<h1>Hi <%= params[:user].email %>,</h1>

Someone requested a password reset.<br/>

If this was you, click the link to reset your pssword. Link expires in 15 minutes.<br/>

<p>
  <%= link_to "Reset Password", forgot_password_edit_url(token: @token) %>
</p>
